<!-- 로그인 기능을 위한 페이지 -->
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>    
<body>
    <h2>Login</h2>
    <form action="" method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <br>
        <input type="submit" value="Login">
    </form>
    <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
</body>
</html>