* { margin:0; padding:0; box-sizing: border-box; }
img { width:100%; }

.logo {
    width: 100px; 
    height: 100%; 
    z-index: 1;
    float: left;
    position: absolute;
    background-color: #fff;
    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0, 0.1);
}

.menu {
    width: 100px;
    height: 100px;
    z-index: 1;
    float: left;
    position: relative;
}

.menu_img {
    width: 44px; 
    height: 24px; 
    margin-left: 28px; 
    margin-top: 38px; 
    margin-bottom: 38px;
}

.menu_hover_img {
    width: 100px; 
    height: 100px;
    top: 0px;
    left: 0px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.menu:hover .menu_hover_img {
    opacity: 1;
  }

.bookmark {
    width: 100px;
    height: 100px;
    z-index: 1;
    float: left;
    position: relative;    
}

.bookmark_img {
    width: 100px;
    height: 100px;
}

.bookmark_hover_img {
    width: 100px;
    height: 100px;
    top: 0px;
    left: 0px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.bookmark:hover .bookmark_hover_img {
    opacity: 1;
}

.search {

    width: 500px;
    height: 75px;
    z-index: 1;
    float: left;
    margin-top: 30px;
    margin-left: 140px;
    padding: 20px;
    background-color: #fff;
    position: absolute;
    border-radius: 50px;
    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0, 0.1);
}

.search_input {
    width: 400px; 
    height: 35px; 
    font-size: 18px; 
    padding: 20px;
    float: left;
    border-width: 0px;
    outline: none;

}

#map {
    width: 100%; 
    height: 930px; 
    margin:auto;
    z-index: 2;
    position: relative;
}
