* { margin:0; padding:0; box-sizing: border-box; }
img { width:100%; }

/* 로고 이미지 영역 */
.logo {
    width: 100px; 
    height: 100%; 
    z-index: 1;
    float: left;
    position: absolute;
    background-color: #fff;
    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0, 0.1);
}

/* 메뉴 영역 */
.menu {
    width: 100px;
    height: 100px;
    z-index: 1;
    float: left;
    position: relative;
}

/* 메뉴 아이콘 */
.menu_img {
    width: 44px; 
    height: 24px; 
    margin-left: 28px; 
    margin-top: 38px; 
    margin-bottom: 38px;
}

/* 메뉴 hover 아이콘 */
.menu_hover_img {
    width: 100px; 
    height: 100px;
    top: 0px;
    left: 0px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s linear;
}

/* 메뉴 hover 기능 */
.menu:hover .menu_hover_img {
    opacity: 1;
  }

/* 메뉴 조건 설정 구역 */
.menu_set {
    width: 380px;
    height: 460px;
    margin-left: 100px;
    padding: 33px;
    float: left;
    background-color: #fff;
    display: none;
    font-size: large;
    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0, 0.1);
}

/* 메뉴 hover 조건 구역 */
.menu:hover .menu_set {
    display: block;
}

/* 저장 영역 */
.bookmark {
    width: 100px;
    height: 100px;
    z-index: 1;
    float: left;
    position: relative;    
}

/* 저장 아이콘 */
.bookmark_img {
    width: 100px;
    height: 100px;
}

/* 저장 hover 아이콘 */
.bookmark_hover_img {
    width: 100px;
    height: 100px;
    top: 0px;
    left: 0px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s linear;
}

/* 저장 hover 기능 */
.bookmark:hover .bookmark_hover_img {
    opacity: 1;
}

/* 검색 영역 */
.search {

    width: 500px;
    height: 75px;
    z-index: 1;
    float: left;
    margin-top: 30px;
    margin-left: 140px;
    padding: 20px;
    background-color: #fff;
    position: absolute;
    border-radius: 50px;
    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0, 0.1);
}

/* 검색창 영역 */
.search_input {
    width: 400px; 
    height: 35px; 
    font-size: 18px; 
    padding: 20px;
    float: left;
    border-width: 0px;
    outline: none;

}

/* 지도 */
#map {
    width: 100%; 
    height: 930px; 
    margin:auto;
    z-index: 2;
    position: relative;
}
